html
{
    background-color: black;
}
header{
    background-image: url(../Images/carrots.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border:1px solid blue;
    border-radius: 15px;
}
header a{
   
        
    color: palegoldenrod;
    font-size: 40px;
}
nav{
    background-color: dimgrey;
    padding: 5px;
    border-radius: 15px;
}
nav ul{
    text-align: center;
    font-size: 1.2em
}
nav ul li{
    margin: 5px;
    border: 2px;
    list-style-type: none;
    background-color: darkgrey;
    display: inline;
    padding: 15px;
   
    
}
nav ul li:hover{
    background-color: cadetblue;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
#active{
    background-color: cadetblue;
}
#active:hover{
    background-color: darkgray;
}
/*#aboutUs{
    float: left;
    margin-right: 15px;
    border: 1px solid grey;
    */
    
}
body{
    /*float: left;*/
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
  
      
  
}
section3 p{
    text-align: left;
    color: white;
}

aside{
    width: 18.5%;
    position: absolute;
    right: 0%;
    top:40%;
    border: .5px solid yellow;
    float: right;
    border-radius: 15px;
  
    
    
}
aside ul li a{
    color:blue;
    text-decoration: none;
    
}
aside ul li{
    list-style-type: none;
    color: white;
}
h2{
    text-align: center;
    color: white;
}
h3{
    color: white;
}
.col_detail{
    column-count: 3;
    column-rule: 1px solid white;
    column-gap: 50px;
    padding: 2px;
  
    
}
.col_detail img{
    
}
.col_detail p {
    color: white;
}
footer{
    clear: both;
    border: 1px solid orange;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: dimgrey;
    text-align: center;
}
.backgroundImageB{
    background-image: url(../Images/bacon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    margin: 2px;
}

.backgroundImageC{
    background-image: url(../Images/carrots.jpg);
    background-repeat: no-repeat;   
    background-size: cover;   
    border: 3px solid black;
    margin: 2px;
}
.backgroundImageD{
    background-image: url(../Images/eggs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    margin: 2px;
}
.col_article{
    column-count: 3;
    column-rule: 1px solid white;
    column-gap: 20px;
    padding: 2px;
}
section h1{
    color: white;
}
section p{
    color: white;
}
section3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
